<div class="bootstrap-wrapper">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt">
                <h1 class="color"><strong>Forgot Password</strong></h1>
                <form (ngSubmit)="onSubmit()" [formGroup]="credentials">

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Enter username
                        </mat-label>
                        <input formControlName="userId" name="userId" matInput type="text">
                        <mat-error *ngIf="userId!.hasError('email') && !userId!.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="userId!.hasError('required')">username required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Enter number
                        </mat-label>
                        <input formControlName="number" name="number" matInput type="number">
                        <mat-error
                            *ngIf="(number!.hasError('min') || number!.hasError('max')) && !number!.hasError('required')">number
                            is of 10 digits</mat-error>
                        <mat-error *ngIf="number!.hasError('required')">number required</mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Enter new password
                        </mat-label>
                        <input formControlName="password" matInput type="password">
                        <mat-error
                            *ngIf="(password!.hasError('minlength') || password!.hasError('maxlength')) && !password!.hasError('required')">
                            Please enter stronger password
                        </mat-error>
                        <mat-error *ngIf="password!.hasError('required')">password required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Re-enter password
                        </mat-label>
                        <input formControlName="confirmPassword" matInput type="password">
                        <mat-error
                            *ngIf="(password!.hasError('minlength') || password!.hasError('maxlength')) && !password!.hasError('required')">
                            Please enter stronger password
                        </mat-error>
                        <mat-error *ngIf="confirmPassword!.hasError('required')">password required</mat-error>
                        <!-- <mat-error *ngIf="passwordMismatch()">Password missmatch</mat-error> -->
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" style="margin-top: 15px; width: 50%;"
                        [disabled]="!credentials.valid">Update</button>

                </form>
                <div style="margin-top: 25px;">
                    Remember Credentials?<a [routerLink]="['/']" style="text-decoration: none;">Login</a>
                </div>
                <div style="margin-top: 10px;">
                    Don't have an account? <a [routerLink]="['/register']" style="text-decoration: none;">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>